.car-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.75s ease-in-out, opacity 0.75s ease-in-out;

  &--fade-in {
    visibility: visible;
    opacity: 1;
  }

  &__item {
    background-color: var(--card-bg-color);
    border-radius: var(--ui-border-radius);

    &:hover {
      cursor: pointer;
    }
  }
}
