.car-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  &__item {
    background-color: white;
    border-radius: var(--ui-border-radius);

    &:active {
      border: 3px solid var(--primary-color);
    }
  }
}
