.checkable-field {
  display: flex;
  gap: 0.1rem;
  flex-direction: row;
  border: 3px solid var(--input-bg-color);
  padding: 1rem;
  border-radius: var(--input-border-radius);
  justify-content: space-between;
  align-items: center;

  &:focus-within {
    border: 3px solid var(--primary-color);
  }

  &:hover {
    cursor: pointer;
  }

  &--invalid {
    border: 3px solid var(--error-color);
  }

  &__input {
    outline: none;
    appearance: none;
    background-color: white;
    margin: 0 0 0 0.7rem;
    color: var(--primary-color);
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid var(--input-bg-color);
    border-radius: 50%;
    display: grid;
    place-content: center;
    padding: 0;
    flex: none;

    &::before {
      content: "";
      background-color: var(--primary-color);
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
    }

    &[type="checkbox"]::before {
      transform-origin: bottom left;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    &:checked {
      border: 3px solid var(--primary-color);
    }

    &:checked::before {
      transform: scale(1);
    }

    &--invalid {
      border: 3px solid var(--error-color);
    }
  }
}
