.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;

  &__input {
    background-color: var(--input-bg-color);
    border-radius: var(--input-border-radius);
    outline: none;
    border: 3px solid var(--input-bg-color);
    padding: 0.4rem 0.5rem;

    &:focus {
      border: 3px solid var(--primary-color);
    }

    &::placeholder {
      color: var(--secondary-text-color);
      opacity: 1;
    }

    &--invalid {
      border: 3px solid var(--error-color);
    }
  }

  &__error-msg {
    display: none;
    color: var(--error-color);
    margin: 0;
    font-size: 0.8rem;

    &--active {
      display: block;
    }
  }
}
