.form-view {
  padding: 1.5rem 0;
  max-width: 90%;
  margin: 0 auto;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;

  @media (min-width: 1024px) {
    max-width: 900px;
  }

  &--fade-in {
    visibility: visible;
    opacity: 1;
  }

  &__heading {
    margin: 0.5rem 0 1rem;
  }

  &__form {
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 0.5rem 0.7rem;
  }

  &__fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__legend {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }

  &__total-price {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
  }
}
