.index-view {
  padding-top: 1.5rem;
  max-width: 90%;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;

  &--fade-in {
    visibility: visible;
    opacity: 1;
  }

  &__heading {
    margin: 0;
  }
}
