@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --app-bg-color: #f5f5f5;
  --input-bg-color: #d4d4d4;
  --primary-color: #3b82f6;
  --window-bg-color: white;
  --error-color: #ef4444;

  --secondary-text-color: #525252;

  --ui-border-radius: 1rem;
  --input-border-radius: 0.5rem;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--app-bg-color);
}
